body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


 .row{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
justify-content: space-around ;
    background-color:rgba(66, 66, 212, 0.8);
max-width: 100%;
max-height: 40px;

}
@media only screen and (max-width:400px){
    .row{
        display: flex;
       flex-flow:  row wrap;
       width: 100%;
       align-items: center;
       max-height: max-content;
      
    }
}
@media (max-width:750px) and (min-width:401px){
    .row{
        display: flex;
       flex-flow:  row wrap;
       align-items: center;
       width: 100%;
       max-height: max-content;
      
    }
   
}
@media only screen and (min-width:750px){
    .row{
        display: flex;
        flex-flow:  row wrap;
        width: 100%;
        align-items: center;
        max-height: max-content;
    }
}



.row .column1 .column2 .column3  ul{
    list-style: none;
    

        
}
.row  ul li{
    display: inline;
    
    
    
}
.row  ul li a{
color: white;
    padding: 3px ;
    margin: 10px 10px ;
    font-size: 16px;
    text-decoration: none;
    border-radius: none;
}

.row .column1,ul,li {
    padding: 0;
    margin-bottom: 20px;
}

.row a:hover{
   
    opacity: 1;
    transition: 0.5s ease;
    
    }
.row .column2,p{
    text-align: center;
    padding: 0 5px 0 10px;
    margin-left: 80px;
    margin-right: 0;
    color: white;
    font-size: 17px;
    
}
.row .column3,button{
    font-weight: lighter;
    font-size: 12px;
    color: green;
    border: 1px solid green;
}
.row .column3,button.button1{
    padding: 8px 8px 8px 8px;
    margin: 5px 0 5px 0;
}
.row .column3,button.button2{
    padding: 8px 8px 8px 8px;
    margin: 5px 0 5px 0;
}
.row .column3,button.button3{
    padding: 8px 8px 8px 8px;
    margin: 5px 20px 5px 0 ;
}

.row .column3, button:hover{
    opacity: 1;
   cursor: pointer;
   transition: none;
    
    }

  
    
#menu-bar{
    display: flex;
    flex-flow: column wrap;
justify-content: space-around;
    background-color:whitesmoke;
    align-items: center;   
width: 100%;
height: 70px;
}

    


ul{
    list-style: none;
    float: right;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-right: 10px;
    padding-left: 5px;    
}
ul li{
    display: inline;
    
}
ul li a{
    text-decoration: none;
    color: black;
font-size: 16px;
font-weight: 500;
    padding: 10px 15px ;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 20px;
}
ul li a:hover{
    background-color:rgba(66, 66, 212, 0.8);
    color: white;
    
}
ul li.active a{
    background-color:rgba(66, 66, 212, 0.8);
    color: white;
}
.logo img{
    float: left;
    width: 200px;
    height: auto;
    padding-left: 5px;
    padding-bottom: 5px;
}



.slideshow-container {
    
    position: relative;
    margin: auto;
max-width: 100%;

  }
      

  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    max-width: 100%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 30px;
    user-select: none;
  }
  
  .next {
       right: 0;
    border-radius: 30px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(44, 44, 44, 0.8);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }



.container-1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
justify-content: space-around ;
    background-color: white;
max-width: 100%;
height:60px;
}

  .lines {
      
    align-items: center;
    width: 1200px;
    height: 30px;
    background-color: rgba(66, 66, 212, 0.8);


}
.line1{
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px 0;
    margin: 2px 0 3px 0;
}




.container-2{ 
    
    flex-direction: row;
    width: 100%;
    height: 800px;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}


.introduction{
    text-align: center;
    padding: 30px 30px;
    font-family: sans-serif;

}
.intro1{
    color: rgba(66, 66, 212);
    display: inline;
    margin: -10px;
    font-size: 38px;
     
}
.intro2{
    color: rgb(29, 141, 29);
    display: inline;
    font-size: 38px;
}
 .hyp p {
     text-align: center;
    color: rgb(29, 141, 29) ;
    font-weight: bold;
    margin-left: -30px ;

}
.hyp p img{
    padding: 5px 5px 0 5px;
    
}
.para{
    
   
   margin: 10px 120px 20px 120px;
   text-align: justify;
   padding: auto ;
   
}
.para p{
    text-align: justify;
    padding: 20px 20px 20px 25px ;
    font-size: 17px;
    color: rgb(63, 60, 60);
}


    .column-1 {
       
      max-width: 100%;
      display: block;
      height: 300px;

    }

.column-1 {
    float: left;
    width: 25%;
    padding: 30px 0 25px 0 ;
    background-color: rgb(17, 17, 226);
  }
  
  
  .box {
    
    margin: 5px 0 5px 0;
    padding: 15px 15px;
    text-align: center;
    color: white;
    

    
  }
  .box h1{
      font-size: 55px;   
  }
  .box  .green{
    color: rgb(54, 230, 54);    
}









.container-4{
        width: 100%;
        height: 900px;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        line-height: 50px;
       
    }
    
    
    .what{
        text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
    margin-top: 10px;
 
    
    }
    .what img{
        padding: 5px 3px;
    }
    .intro3{
        color: rgba(66, 66, 212);
        display: inline;
        padding-top: 20px;
        margin: 20px 0 0 0;
        font-size: 38px;
         
    }
    .intro4{
        color: rgb(29, 141, 29);
        display: inline;
        padding-top: 20px;
        font-size: 38px;
        margin: 20px 0 0 0;
    }

    

    .div {
        text-align: center;
        box-sizing: border-box;
        border-width:15%;
        bottom: 100;
        right: 100;
        
        }
        
        .one {
            text-align: center;
            display: inline-block;
        border: 1px solid white;
        box-sizing: border-box;
        background-color: white;
        width: 350px;
        height: 170px;
        margin:15px;
        padding: 5px 0 5px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        color: rgba(66, 66, 212);
        }
        
 
p {
    
padding:20px 10px 20px 10px;
margin: 0;
border-width:15%;
}





.container-6{
    
    max-width: 100%;
    height: 500px;
    background-color: white;
    /* flex-direction: row; */
    align-items: center;

}

.row2{
    float: left;
    margin: 20px 20px 0 50px;
    padding: 20px 5px 0 10px;   
}



.green1{
    
    text-align: left;
    color: rgb(54, 230, 54);
    padding-bottom: 5px;
}
.head1{
    margin-top: 20px;

    color: rgba(66, 66, 212);
}
.div {
    float: center;
    box-sizing: border-box;
    border-width:15%;
    bottom: 100;
    right: 100;
    
    }
    
    .one1 {

        text-align: justify;
        display: inline-block;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 360px;
    height: 80px;
    margin: 15px 10px 0 5px;
    padding: 10px 5px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    color: rgba(66, 66, 212);
    }

 .on1 ,img{
    vertical-align: middle;
    
} 
.spn{
    font-size: 18px;
    font-weight: bold;
    
}
.row3{
    float: right;
    margin-top: -480px;
    margin-left: 60px;
}

.green2{
    padding-left: 10px;
    text-align: left;
    color: rgb(54, 230, 54);
    padding-bottom: 10px;
}
.head2{
    margin-top: 60px;
margin-left: 15px;
    color: rgba(66, 66, 212);
}
.one2 {

    text-align: justify;
    display: inline-block;
border: 1px solid whitesmoke;
box-sizing: border-box;
background-color: whitesmoke;
width: 320px;
height: 220px;
margin: 10px 100px 10px 10px;
padding: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
color:black;
}
.one2 .one22{
    text-align: justify;
    color: rgb(66, 65, 65);
}



#section1{
    max-width: 100%;
    height: 530px;
    background-color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
   
}

div.gallery {
    margin: 20px 5px 10px 0 ;
    padding-left: 0 ;
    width: 220px;
    display: inline-flex;
  }
 
 
  div.gallery img:hover {
    border: 1px solid #ccc;
    box-shadow: 0 8px 6px 0  rgba(139, 136, 136, 0.4);
      
  }
  
  
  div.gallery img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    
    
  }
 






  #section{
      width: 100%;
      height: 350px;
      background-color: rgb(35, 31, 44);
      display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
 
    }

  .column5 {
    float: left;
    width: 33.33%;
  }
  
  
  .row5:after {
    content: "";
    display: table;
    clear: both;
  }
  
   .column5 .class1{
       
margin: 80px 0 10px 40px;
padding: 5px;
width: 400px;
height: 300px;
   }
  .column5 .class1 .class11{
      text-align: justify;
       padding: 5px 0 0 0;
       color: white;
       font-size: 16px;
   }
.material-icons{ 
    color: green;
}
.column5 .class2{
    
    width: 400px;
    height: 300px;
    margin: 60px 0 0 10px;
padding: 5px;
}  
.column5 .class2 .class22{
    color: white;
    font-size: 20px;  
}
.column5 .class2 .class222{
    color: green;
    text-align: justify;
font-size: 28px;

}

.column5 .class2 .class33{
    color: white;
    font-size: 20px; 
    padding-left: 15px; 
}
.class333{
    margin-right: 160px;
    
}
.class333  ul li{
    

    display: inline; 
    
}
.class333  ul li a{
color: white;
background-color: blue;
    padding: 10px ;
    margin: 5px 10px 0 5px ;
    font-size: 15px;
    text-decoration: none;
}
.class333 a:hover{
   
    opacity: 0.8;
     }


    

     

     

#Footer{
font-size: 12px;
color: white;
height: auto;
padding: 15px;
background-color:rgba(66, 66, 212) ;

}
     






        
        




























      
      
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px;
    right: 10px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    color: rgb(219, 210, 210);
    cursor: pointer; 
    padding: 15px; 
    font-size: 18px; 
    background-color: rgb(187, 185, 185);
  }

  #myBtn:hover {
    background-color: #555; 
  }

